{% extends 'base.html' %}
{% block title %}Check Weather{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}"/>
{% endblock %}
{% block body %}
    <h1>Weather application</h1>
    <section class="weather_map">
        <h2>Weather overview</h2>
        <img src="{{gmap}}" alt="Weather map of destinations" loading="lazy"/>
    </section>
    <section class="form">
        <form action="/checkweather" method="post">
            <h2>Check weather for a location</h2>
            <h3>Please pick a location:</h3>
            {% for location in locations.items()%}
                <input type="radio" id="{{location[1]['id']}}" name="location" value="{{location[1]['name']}}" aria-label="{{location[1]['id']}}">
                <label for="{{location[1]['id']}}">{{location[1]['name']}}</label><br>
            {% endfor %}
            <h3>Please pick unit:</h3>
            <input type="radio" id="celsius" name="unit" value="metric" aria-label="celsius" checked>
            <label for="">Celsius</label><br>
            <input type="radio" id="fahrenheit" name="unit" value="imperial" aria-label="Fahrenheit">
            <label for="">Fahrenheit</label><br><br>
            <input type="submit" class="submit" value="Check weather" aria-label="submit"/>
        </form>
    </section>
{% endblock %}
