<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Test {% endblock %}</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block body %}
    <h1>Check weather</h1>
    <form action="/checkweather" method="post">
        {% for location in locations.items()%}
        <input type="radio" id="{{location[1]['id']}}" name="location" value="{{location[1]['name']}}" aria-label="{{location[1]['id']}}">
        <label for="{{location[1]['id']}}">{{location[1]['name']}}</label><br>
        {% endfor %}
        <input type="submit" value="Check weather" aria-label="submit"/>
    </form>
    {% endblock %}
</body>
</html>