{% extends 'base.html' %}
{% block title %}Weather in {{location}}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/weather.css') }}"/>
{% endblock %}
{% block body %}
    <h1>Weather in {{location}}</h1>
    <h2>Date: {{date}}</h2>
    <table class="cur-weather-table">
        <tbody>
            <tr>
                <td><img src="{{icon}}" alt="{{weather}}"/></td>
                <td>{{weather}}</td>
            </tr>
            <tr>
                <td>Current Temprature:</td>
                <td>{{temp}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Minimum Temprature:</td>
                <td>{{temp_min}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Maximum Temprature:</td>
                <td>{{temp_max}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Humidity:</td>
                <td>{{humidity}} %</td>
            </tr>
        </tbody>
    </table>
    {%if map%}
    <iframe
        width="450"
        height="250"
        frameborder="0" style="border:0"
        referrerpolicy="no-referrer-when-downgrade"
        src="{{map}}"
        allowfullscreen>
        </iframe>
    {% endif %}
    {% if next_7days %}
    <table class="forecast-table">
        <tbody class="forecast">
            <tr class="forecast-separator">
                {% for weather in next_7days %}
                <td>
                    <table>
                        <thead>
                            <tr class="date">
                                <th colspan="2">{{weather['date']}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="weather">
                                <td><img src="{{weather['icon']}}" alt="{{weather['weather']}}"/></td>
                                <td>{{weather['weather']}}</td>                                
                            </tr>
                            <tr class="temp">
                                <td class="min">{{weather['temp_min']}} {{'℃' if unit=='metric' else '°F'}}</td>
                                <td class="max">{{weather['temp_max']}} {{'℃' if unit=='metric' else '°F'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <p><span class="min">Left: Min Temp</spanL>/ <span class="max">Right: Max Temp</span></p>
    {% endif %}
    <a href="/" class="return-home"><button>Return to homepage</button></a>
{% endblock %}
