{% extends 'base.html' %}
{% block title %}Weather for {{location}}{% endblock %}
{% block body %}
    <h1>Weather for {{location}}</h1>
    <h2>Date: {{date}}</h2>
    <table>
        <tbody>
            <tr>
                <td><img src="{{icon}}" alt="{{weather}}"/></td>
                <td>{{weather}}</td>
            </tr>
            <tr>
                <td>Current Temprature:</td>
                <td>{{temp}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Minimum Temprature:</td>
                <td>{{temp_min}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Maximum Temprature:</td>
                <td>{{temp_max}} {{'℃' if unit=='metric' else '°F'}}</td>
            </tr>
            <tr>
                <td>Humidity:</td>
                <td>{{humidity}} %</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody class="forecast">
            <tr>
                {% for weather in next_7days %}
                <td>
                    <table>
                        <thead>
                            <tr class="date">
                                <th colspan="2">{{weather['date']}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="weather">
                                <td><img src="{{weather['icon']}}" alt="{{weather['weather']}}"/></td>
                                <td>{{weather['weather']}}</td>                                
                            </tr>
                            <tr class="temp">
                                <td>{{weather['temp_min']}}</td>
                                <td>{{weather['temp_max']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a href="/"><button>Return to homepage</button></a>
{% endblock %}
